<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Nikita Uriil Gusev" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.PageKeyWords">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")

</head>
<body>
    <!-- wrapper -->
    <div class="rapidxwpr">

        <!-- header -->
        <div id="header">

            <!-- logo -->
            <div class="logo">
                <strong><a href="/">Uriil</a></strong>
                <span class="tagline">Web developer</span>
            </div>
            <!-- / logo -->

        </div>
        <!-- / header -->

        <!-- mainmenu -->
        <div id="mainmenu">
            <ul id="menu">

                <li class="home">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="unixtime">@Html.ActionLink("UnixTime", "UnixTime", "Conversion")</li>
                <li class="length">@Html.ActionLink(Resources.Lang.Length, "Length", "Conversion")</li>
                <li class="md5">@Html.ActionLink("MD5", "Md5", "Conversion")</li>
                <li class="contact">@Html.ActionLink(Resources.Lang.Contact, "Contact", "Home")</li>
            </ul>
        </div>
        <!-- / mainmenu -->

        <!-- main body -->
        <div id="middle">
            <div class="middle_bg">

                <div class="tab_container">

                    @RenderBody()

                </div>
            </div>
        </div>
        <!-- / main body -->

        <!-- footer -->
        <div id="footer">
            Copyright &copy; 2010 IBrandStudio.<br />
            <small>Designed by <a href="http://ibrandstudio.com/">iBrandStudio</a> and developed by <a href="http://www.rapidxhtml.com">RapidxHTML</a>. Vcard Template sponsored by <a href="http://www.instantshift.com">InstantShift</a></small>.
            <br />
            <br />
            <div style="margin-left: auto; margin-right: auto; width: 36px;">
                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { language = "en" })"><span class="flag en"></span></a>
                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { language = "ru" })"><span class="flag ru"></span></a>
            </div>
        </div>
        <!-- / footer -->

    </div>
    <!-- / wrapper -->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36456645-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter20120143 = new Ya.Metrika({
                        id: 20120143,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/20120143" style="position: absolute; left: -9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
